header {
    position: fixed;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 5;

    background-color: black;
    opacity: 0%;
    transition: 0.5s;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.menu-element {
    position: relative;
    width: 15vw;
    margin-left: 1vw;
    margin-right: 1vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 2vw;
    color: white;
    transition: 0.3s;
}

.menu-element:hover {
    cursor: pointer;
    transform: scale(120%);
}