header {
    position: fixed;
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: 0.5s;
}

.menu-element {
    position: relative;
    width: 125px;
    margin-left: 2vw;
    margin-right: 2vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: large;
    color: white;
    transition: 0.3s;
}

.menu-element:hover {
    cursor: pointer;
    transform: scale(120%);
}

@keyframes fade-white {
    from {background-color: black;}
    to   {background-color: linear-gradient(white, black);}
}